In [33]:
# Standard libraries
import pandas as pd
import numpy as np
from scipy import stats
# Visualization
import matplotlib.pyplot as plt
import datetime
import os 

# os.system("pip install wrds") # TODO: Probably put this in utils.py
import wrds
# os.system("pip install pandas-datareader")
import pandas_datareader.data as web

# os.system("pip install seaborn")
import seaborn as sns

# Note we don't actually need pandas_datareader. Could import/use YahooFinanceAPI which gives same info

<b>TODO LIST:</b>
1. ~~Parse audit analytics data for year and month of date of disclosure (possibly include date of breach) - Might have to select a couple of firms that we want to analyze?~~
    * ~~Use year, month, and ticker to find stock price of company for that month (in WorldScope database)~~
    * ~~Find stock price 1 to 12 months from that date (WorldScope). Calculate gain/loss in stock price from original. Potentially even take stock price the month before the breach?~~
2. Perform statistical tests + data visualization/analysis. Some examples:
    * Regression on multiple variables to predict stock price gain/loss over x months 
    * Scatter plot over time (ex: 2000-2021) of stock price gains/losses
    * Scatter plot over time after date of disclosure/breach of stock price gains/losses
    * Use Regression to see if type of breach matters for stock price
    * Regression to predict records lost?
    * Create decision tree to see type of breach

<b>Problems to maybe deal with:</b> <br>
Do we combine audit analytics dataset with another one (PRC? Gordon said the PRC data is more erroneous than audit analytics, audit analytics more trusted) - make sure no repeats

<h2>Data Collection and Processing</h2>

In [2]:
db = wrds.Connection()

Enter your WRDS username [gabri]:gnaval
Enter your password:········
WRDS recommends setting up a .pgpass file.
You can find more info here:
https://www.postgresql.org/docs/9.5/static/libpq-pgpass.html.
Loading library list...
Done

In [66]:
# PRC Dataset 
PRC_df = pd.read_csv("../data/prc.csv" )

# Data Cleaning
PRC_df.drop(PRC_df.columns[[13,14,15]], axis=1, inplace = True)
PRC_df = PRC_df[PRC_df['Total Records'].notna()]

def records_to_int(record_str):
    return int(str(record_str).replace(",", ""))

PRC_df['Total Records'] = PRC_df['Total Records'].apply(records_to_int)

# Drop rows with 0 total records (Maybe toggle this off we want to fill in data)
PRC_df = PRC_df[PRC_df['Total Records'] != 0]

# Audit Analytics Dataset
xls = pd.ExcelFile('../data/audit_analytics.xlsx')
aa_records_df = pd.read_excel(xls, 'PublicCyber')
aa_ddos_df = pd.read_excel(xls, 'DDoS')

# Get rid of rows with no tickers (these might be non-publicly traded)
aa_records_df = aa_records_df[aa_records_df['Ticker'].isna() != True].reset_index(drop=True)
table_columns = ['Company name', 'Ticker', 'Date of Breach', 'Date Became Aware of Breach', 'Date of Disclosure',
                 'Number of Records', 'Type of Info', 'Information', 'Attack']
aa_records_df = aa_records_df[aa_records_df.columns.intersection(table_columns)]
display(aa_records_df)

# Ticker - Don't think we need this 
ticker_df = pd.read_csv("../data/ticker.csv" )

,Company name,Ticker,Date of Breach,Date Became Aware of Breach,Date of Disclosure,Number of Records,Type of Info,Information,Attack
0,HUMANA INC,HUM,10/12/2020 - 12/16/2020,2020-12-22 00:00:00,2021-02-25,NaN,Personal,SSN | Name | DoB | Address | Phone Number | Em...,Unauthorized Access
1,HERBALIFE NUTRITION LTD.,HLF,2020-10-01 00:00:00,NaN,2021-02-23,NaN,Personal | Other,Name | Phone Number | Address | DOB | Membersh...,Unauthorized Access
2,"Ultra Clean Holdings, Inc.",UCTT,NaN,NaN,2021-02-23,NaN,Personal,SSN | Driver's License,ND
3,KROGER CO,KR,NaN,2021-01-23 00:00:00,2021-02-19,NaN,Personal,Name | Email | Phone Number | Address | DOB | ...,Unauthorized Access
4,CINTAS CORP,CTAS,9/16/2020 - 9/20/2020,2020-09-20 00:00:00,2021-02-15,NaN,Financial | Personal,Name | Bank Account,Unauthorized Access
...,...,...,...,...,...,...,...,...,...
732,COSTCO WHOLESALE CORP /NEW,COST,6/19/2014 - 7/15/2015,,2015-09-23,815,Financial,Credit Card | Name | Address | Phone Number | ...,ND
733,RITE AID CORP,RAD,8/20/2014 - 7/14/2015,2015-08-17 00:00:00,2015-09-22,NaN,Financial,Credit Card | Name | Address | Phone Number | ...,ND
734,CVS HEALTH Corp,CVS,6/19/2014 - 7/14/2015,2015-08-13 00:00:00,2015-09-11,NaN,Financial,Credit Card | Name | Address | Phone Number | ...,ND
735,WEYERHAEUSER CO,WY,May-2014 - 1/29/2015,2015-01-29 00:00:00,2015-03-17,11000000,Personal,Name | DoB | Address | Email | SSN | Other,Phishing
736,"ConnectOne Bancorp, Inc.",CNOB,NaN,2014-11-05 00:00:00,2014-11-11,NaN,Other,Money,ND

In [4]:
today = datetime.datetime.today().date()

def nearest(items, pivot):
    """
    Gets closest day in a set (used to obtain stock price y months after disclosure)
    """
    return min(items, key=lambda x: abs((x - pivot).days))

def stock_after_disclosure(row, num_months):
    """
    Returns an array containing the monthly stock price of a firm after date of disclosure (0 - num_months months after breach).
    If firm exists in YahooFinance database, but no stock price available for a month (either b/c that date has yet to occur or b/c simply N/A),
    returns np.nan.
    If firm does not exist in YahooFinance database, return array of np.nan's.
    
    Parameters: 
    row : Dataframe row
        Input dataframe's row (used along with df.apply)
    num_months : int
        Month limit
    """
    start = pd.to_datetime(row['Date of Disclosure']) 
    end = start + pd.DateOffset(months = num_months)
    # Don't know if i should include this, check stock day before breach to control for large stock dip when breach is disclosed
    start -= datetime.timedelta(days=1) 
    #print(row['Ticker'])
    try:
        df = web.DataReader(row['Ticker'], 'yahoo', start, end)
        #display(df)
        lst = []
        for month in range(0, num_months + 1):
            date = nearest(df.index, (start + pd.DateOffset(months = month)))
            if today <= date.date():
                for x in range(month, num_months + 1):
                    lst.append(np.nan)
                break
            lst.append(df.loc[date]["Close"])
        return lst
    except Exception as e:
        print("Error at %s" % row['Ticker'])
        print(repr(e))
        return [np.nan] * (num_months + 1)

In [67]:
lst = []
months_after = 12 #Toggle this value
col = []
for i in range(0, months_after + 1):
    col.append("Stock Price (%s months DoD)" % i)

In [6]:
# Create array of arrays that contains stock prices after date of disclosure for each breach
for index, row in aa_records_df.iterrows():
#     print("%s: %s" %(index, row['Ticker']))
    x = stock_after_disclosure(row, months_after)
    lst.append(x)

0: HUM
1: HLF
2: UCTT
3: KR
4: CTAS
5: BKEP
6: SJI
7: GSAT
8: WRK
9: CVNA
10: INDB
11: FWRD
12: TSLA
13: INTC
14: PRTS
15: USM
16: JNJ
17: WOOF
18: NWLI
19: TD
20: WMT
21: INTC
22: CLAR
23: BNTX
24: PFE
25: UPS
26: NSC
27: SFT
28: UI
29: MIME
30: VBTX
31: ACB
32: MATX
33: TMUS
34: WHR
35: CFX
36: VMW
37: NVDA
38: INTC
39: CSCO
40: MSFT
41: MD
42: CLH
43: SWI
44: SPOT
45: FEYE
46: IIVI
47: BRK.A
Error at BRK.A
KeyError('Date')
48: MTX
49: BDC
50: CAJ
51: MANU
52: SPLP
53: VIAC
54: SEAC
55: FWRD
56: SEGR
Error at SEGR
KeyError('Date')
57: GEO
58: SITE
59: HD
60: UCTT
61: RDY
62: BRID
63: PFE
64: TMX
65: TMUS
66: DXPE
67: UHS
68: SBGI
69: UNM
70: UHS
71: VOXX
72: CLUBQ
73: TYL
74: RDNT
75: VCNX
76: EQIX
77: FLNT
78: WMG
79: AMPH
80: RCM
81: MAR
82: CCL
83: BF.B
Error at BF.B
KeyError('Date')
84: SRCL
85: INTC
86: CAJ
87: DVAX
88: GRMN
89: BLKB
90: TWTR
91: FORM
92: SPLP
93: TWTR
94: ULH
95: MXL
96: HMC
97: CNDT
98: CZZ
99: IEP
100: GNW
101: MGLN
102: KR
103: LOV
104: GDDY
105: CHGG
106: PFG
107: TUP
108: CTSH
109: USX
110: GCI
111: ZM
112: TXG
113: GDDY
114: MAR
115: CB
116: CAJ
117: WB
118: NCLH
119: RCI
120: TU
121: TNDM
122: CCL
123: ETM
124: LBTYB
125: TMUS
126: CIR
127: WBA
128: CRY
129: MGM
130: EL
131: ATUS
132: GOOGL
133: PSA
134: UNH
135: MSFT
136: UPS
137: AUTO
138: SWBI
139: CI
140: PYPL
141: OLLI
142: WTRH
143: GPN
144: AVID
145: TWTR
146: UNM
147: HMC
148: NVO
149: T
150: BIO
151: SNEX
152: MGLN
153: PRI
154: CHH
155: PANW
156: ADBE
157: UPS
158: TMUS
159: INGR
160: WSTG
161: USX
162: M
163: HAS
164: HSDT
165: TTOO
166: GDEN
167: ICHR
168: HSKA
169: MAR
170: TROW
171: BBBY
172: ADBE
173: JKHY
174: PATK
175: FOE
176: LUMN
177: TPCO
178: INGR
179: PBI
180: WHR
181: WMT
182: APVO
183: TRU
184: CRON
185: EA
186: ZEN
187: PAR
188: CHGG
189: MGLN
190: MGLN
191: PK
192: BRK.A
Error at BRK.A
KeyError('Date')
193: FRTA
194: ZNGA
195: CNR
196: BRX
197: CCF
198: MGM
199: ETM
200: DLX
201: LL
202: MA
203: HMNY
204: CABO
205: CHH
206: AZRX
207: AMRN
208: TEAM
209: HMC
210: PSO
211: CRVL
212: COF
213: ZION
214: FOSL
215: TRU
216: BVH
217: IOSP
218: TRIP
219: PYPL
220: LSXMA
221: AVLR
222: PUK
223: MCHP
224: R
225: FAF
226: FB
227: FB
228: UONE
229: BERY
230: SJR
231: ETN
232: AMCX
233: CRL
234: MSFT
235: WIT
236: MSFT
237: GLW
238: HUM
239: UONE
240: RAVE
241: AERO
242: FB
243: FRTA
244: SNWV
245: TM
246: HXOH
Error at HXOH
KeyError('Date')
247: FSV
248: AAPL
249: SHEN
250: OMF
251: ABM
252: CTXS
253: TPCO
254: WD
255: PTVCA
256: TM
257: TACO
258: VOLT
259: FIVE
260: CDE
261: BDL
262: FB
263: SGMS
264: KDP
265: REG
266: CVS
267: C
268: BLK
269: UNM
270: UNH
271: HUM
272: TPCO
273: INFN
274: CBTX
275: DISCA
276: FB
277: GOOGL
278: FARM
279: BRO
280: JCOM
281: SIGI
282: ROP
283: RCL
284: HOG
285: SIG
286: MAR
287: FLWS
288: TRU
289: DELL
290: FRANQ
Error at FRANQ
KeyError('Date')
291: FB
292: LPLA
293: ENVB
Error at ENVB
KeyError('Date')
294: JWN
295: RCL
296: HSBC
297: FB
298: CNO
299: USB
300: BMRN
301: KKR
302: GOOGL
303: FIVE
304: FB
305: AFL
306: TM
307: WTFC
308: CHGG
309: YELL
Error at YELL
KeyError('Date')
310: FFIN
311: PFGC
312: RRTS
313: GH
314: STL
315: HTHT
316: FISV
317: PCG
318: TMUS
319: CMG
320: MDLZ
321: AMZN
322: DRI
323: CMCSA
324: TSM
325: CRM
326: VAC
327: HSBC
328: CBZ
329: LH
330: TEF
331: UL
332: BMRN
333: BP
334: GDDY
335: CPB
336: M
337: COTY
338: CWK
339: CWK
340: YTRA
341: LYV
342: AMGN
343: JEF
344: HUM
345: HAS
346: NMR
347: HQY
348: EB
349: SNA
350: BMO
351: AVRO
352: TMUS
353: CMCSA
354: EAT
355: RP
356: FLT
357: GWW
358: LUV
359: SGMO
360: PCSA
361: INGN
362: LPLA
363: TLK
364: BBY
365: DAL
366: LNC
367: LNC
368: TMO
369: UAA
370: BSMX
371: BSMX
372: BA
373: GPN
374: AXP
375: EXPE
376: CFR
377: DIN
378: COF
379: TSLA
380: IHG
381: FDX
382: NUAN
383: EXPE
384: KKR
385: BCE
386: MDRX
387: JNJ
388: AYX
389: KEQU
390: UHAL
391: EBAY
392: PYPL
393: LNC
394: NWS
395: QD
396: BCC
397: ABM
398: AJG
399: HSDT
400: SONA
401: DPZ
402: YUM
403: H
404: ACN
405: TMUS
406: FORR
407: BGGSQ
Error at BGGSQ
RemoteDataError('No data fetched for symbol BGGSQ using YahooDailyReader')
408: AMZN
409: EFX
410: CHTR
411: FB
412: CLGX
413: FEYE
414: SVC
415: RMR
416: SVC
417: SXI
418: H
419: ALK
420: BAM
421: AMP
422: VZ
423: COF
424: STWD
425: WWE
426: MRK
427: MDLZ
428: NUAN
429: FDX
430: WPP
431: MAXR
432: TD
433: LNC
434: BRK.A
Error at BRK.A
KeyError('Date')
435: BKE
436: OSG
437: SHLDQ
438: MOH
439: MDP
440: EFX
441: RAD
442: DOCU
443: BCE
444: CHH
445: BIDU
446: TEAM
447: SABR
448: CMG
449: LPLA
450: HUM
451: NOC
452: IHG
453: GME
454: MCD
455: MCD
456: AFL
457: NKSH
458: NKSH
459: LUMN
Error at LUMN
KeyError('Date')
460: COLM
461: WBA
462: IHG
463: RUN
464: AXS
465: EHTH
466: MRIN
467: UGI
468: BAH
469: WU
470: SIRI
471: AMP
472: DGX
473: YUM
474: AON
475: HPE
476: MSGS
477: SIRI
478: WMT
479: CSCO
480: NKE
481: VRA
482: SSNC
483: PAR
484: ORCL
485: IHG
486: AMZN
487: FIS
488: TWTR
489: PCG
490: CNNE
Error at CNNE
KeyError('Date')
491: NDLS
492: BC
493: ADP
494: EBAY
495: X
496: VOYA
497: LSTR
498: MAT
499: VZ
500: SFM
501: AAP
502: PKI
503: MTRX
504: FLWS
505: STX
506: BABA
507: DEO
508: WEN
509: WMT
510: CTXS
511: BCOR
512: CHTR
513: H
514: QSR
515: AMZN
516: PSO
517: HLT
518: CMCSA
519: TMUS
520: CASY
521: NWS
522: EL
523: HLT
524: NFLX
525: AZO
526: SABR
527: UI
528: UAL
529: HBI
530: VRSK
531: AERO
532: INFY
533: AERO
534: CPRT
535: IHG
536: SBUX
537: RLJ
538: SBH
539: BAM
540: KEP
541: RYAAY
542: H
543: AMZN
544: NGVC
545: RCI
546: CHDN
547: ANTM
548: AAL
549: MS
550: NVDA
551: SNE
552: SNE
553: HSBC
554: BKNG
555: HLT
556: TRI
557: INT
558: SHLDQ
559: BRK.A
Error at BRK.A
KeyError('Date')
560: ESS
561: FNF
562: TRIP
563: JPM
564: ORRF
565: HD
566: UPS
567: CYH
568: EBAY
569: NWS
570: D
571: VIAC
572: BA
573: BPOP
574: ACM
575: DPZ
576: EBAY
577: AN
578: PEI
579: RLJ
580: MIK
581: MSFT
582: QIWI
583: EFX
584: SBH
585: SJM
586: ALSK
587: LVS
588: BSX
589: CMCSA
590: HLT
591: TXT
592: MIK
593: SEAS
594: TMUS
595: TGT
596: GHC
597: BGS
598: JPM
599: VOD
600: CMCSA
601: CME
602: NWG
603: ADBE
604: ADBE
605: MAA
606: MAA
607: VOD
608: YUM
609: NOC
610: AAPL
611: NDAQ
612: SNE
613: BLMN
614: MORN
615: TM
616: CAT
617: TM
618: GRPN
619: CMCSA
620: AMZN
621: SFM
622: MSFT
623: ZEN
Error at ZEN
KeyError('Date')
624: AAPL
625: FB
626: NOK
627: TWTR
628: NYT
629: ADBE
630: AMZN
631: YUM
632: NLOK
633: F
634: MCD
635: PEP
636: KFY
637: DPZ
638: AAPL
639: SNE
640: TM
641: ATVI
642: NKE
643: RDS.A
Error at RDS.A
KeyError('Date')
644: BP
645: NVDA
646: T
647: XOM
648: EA
649: VIAC
650: CMCSA
651: IHG
652: GPN
653: SNE
654: PHG
655: MSFT
656: INTC
657: NLOK
658: EEFT
659: TMUS
660: AMZN
661: SNE
662: EA
663: EBAY
664: C
665: NWS
Error at NWS
KeyError('Date')
666: BAH
667: GHC
668: AAPL
669: JBLU
670: MSFT
671: ADP
672: SNE
673: C
674: SNE
675: FIS
676: MIK
Error at MIK
KeyError('Date')
677: SNE
678: NWS
Error at NWS
KeyError('Date')
679: JACK
680: ADS
681: TRIP
682: NDAQ
683: NC
684: HMC
685: AMZN
686: MCD
687: GCO
688: EAT
689: CSCO
690: T
691: PFG
692: BCOR
693: TNL
694: INTC
695: BRK.A
Error at BRK.A
KeyError('Date')
696: DLTR
697: WMT
698: TNL
699: TNL
700: WFC
701: EBAY
702: TJX
703: WMT
704: DBI
705: FMCC
706: AEE
707: BHF
708: BLMN
709: LKQ
710: NERV
711: JWN
712: BLMN
713: LH
714: DGX
715: OPK
716: UNH
717: AVRO
718: SMRTQ
Error at SMRTQ
KeyError('Date')
719: SHLDQ
720: GUL
721: DUK
722: GOOGL
723: HPQ
724: GOOGL
725: CTXS
726: GOOGL
727: KR
728: USB
729: INTU
730: WMT
731: EA
732: COST
733: RAD
734: CVS
735: WY
736: CNOB

In [7]:
# Merge stock price after breach with original dataframe
stock_prices = pd.DataFrame(lst, columns = col)
stock_price_aa_records = pd.concat([aa_records_df, stock_prices], axis=1, join='inner')
display(stock_price_aa_records)

,Company name,Related party,Target relationship to Parent,CIK,Ticker,Market,IRS Number,Parent CIK,Parent Name,Bus Street 1,...,Stock Price (3 months DoD),Stock Price (4 months DoD),Stock Price (5 months DoD),Stock Price (6 months DoD),Stock Price (7 months DoD),Stock Price (8 months DoD),Stock Price (9 months DoD),Stock Price (10 months DoD),Stock Price (11 months DoD),Stock Price (12 months DoD)
0,HUMANA INC,HUMANA INC,Parent,49071,HUM,NYSE,61-0647538,NaN,NaN,500 W MAIN ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HERBALIFE NUTRITION LTD.,Herbalife Nutrition,Parent,1180262,HLF,NYSE,98-0377871,NaN,NaN,P.O. BOX 309GT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Ultra Clean Holdings, Inc.","Ultra Clean Holdings, Inc.",Parent,1275014,UCTT,Nasdaq Global Market,61-1430858,NaN,NaN,150 INDEPENDENCE DRIVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KROGER CO,Kroger Pharmacy,Parent,56873,KR,NYSE,31-0345740,NaN,NaN,1014 VINE ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CINTAS CORP,Cintas Corporation,Parent,723254,CTAS,Nasdaq Global Market,31-1188630,NaN,NaN,6800 CINTAS BLVD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,COSTCO WHOLESALE CORP /NEW,Costco Photo Center; PNI Digital Media,Third-party,909832,COST,Nasdaq Global Market,91-1223280,NaN,NaN,999 LAKE DRIVE,...,161.229996,153.690002,150.059998,152.229996,149.919998,142.009995,158.119995,167.470001,167.940002,153.149994
733,RITE AID CORP,Rite Aid Pharmacy; PNI Digital Media,Third-party,84129,RAD,NYSE,23-1614034,NaN,NaN,30 HUNTER LANE,...,157.399994,154.199997,159.000000,159.800003,160.800003,153.199997,154.800003,137.199997,154.600006,162.000000
734,CVS HEALTH Corp,CVSphoto.com; PNI Digital Media,Third-party,64803,CVS,NYSE,05-0494040,NaN,NaN,ONE CVS DR.,...,94.739998,94.919998,93.110001,99.339996,100.769997,106.099998,96.669998,96.839996,97.110001,91.519997
735,WEYERHAEUSER CO,Premera Blue Cross,Third-party,106535,WY,NYSE,91-0470860,NaN,NaN,220 OCCIDENTAL AVENUE SOUTH,...,32.959999,30.959999,31.080000,28.450001,29.420000,30.139999,30.870001,25.820000,23.770000,29.450001
736,"ConnectOne Bancorp, Inc.",Unknown,Third-party,712771,CNOB,Nasdaq Global Market,52-1273725,NaN,NaN,301 SYLVAN AVENUE,...,18.430000,18.020000,19.600000,19.120001,19.980000,22.080000,20.870001,18.879999,18.209999,18.170000

In [15]:
def analyst_stock_price(row):
    """
    Returns the median and mean of analyst stock price forecasts for a firm, where the forecasts are within a month after the beach. 
    These forecasts predict the stock price 12 months into the future.
    
    Parameters
        row - Dataframe row
        Input dataframe's row (used along with df.apply)
    Returns
        List of length 2. [median, mean]
    """
    date = pd.to_datetime(row['Date of Disclosure'])
    
    sql_query="""
    SELECT VALUE as stock_price
    FROM ibes.ptgdet
    WHERE OFTIC ='{}' AND CAST(HORIZON as int) = 12 AND ANNDATS BETWEEN '{}' and '{}'
    """.format(row['Ticker'], date, date + pd.DateOffset(months = 1))
    
    df = db.raw_sql(sql_query)
    
    if len(df.index) == 0:
        return [np.nan] * 2
    return [df['stock_price'].median(), df['stock_price'].mean()]

In [21]:
# Create array of arrays that contains stock prices after date of disclosure for each breach
lst = []
for index, row in stock_price_aa_records.iterrows():
    lst.append(analyst_stock_price(row))
    
# Merge stock price after breach with original dataframe
median_mean_df = pd.DataFrame(lst, columns = ['median stock forecast', 'mean stock forecast'])
stock_price_aa_records = pd.concat([stock_price_aa_records, median_mean_df], axis=1, join='inner')
display(stock_price_aa_records)

,Unnamed: 0,Unnamed: 0.1,Company name,Related party,Target relationship to Parent,CIK,Ticker,Market,IRS Number,Parent CIK,...,Stock Price (5 months DoD),Stock Price (6 months DoD),Stock Price (7 months DoD),Stock Price (8 months DoD),Stock Price (9 months DoD),Stock Price (10 months DoD),Stock Price (11 months DoD),Stock Price (12 months DoD),median stock forecast,mean stock forecast
0,0,0,HUMANA INC,HUMANA INC,Parent,49071,HUM,NYSE,61-0647538,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,HERBALIFE NUTRITION LTD.,Herbalife Nutrition,Parent,1180262,HLF,NYSE,98-0377871,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,"Ultra Clean Holdings, Inc.","Ultra Clean Holdings, Inc.",Parent,1275014,UCTT,Nasdaq Global Market,61-1430858,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,KROGER CO,Kroger Pharmacy,Parent,56873,KR,NYSE,31-0345740,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,CINTAS CORP,Cintas Corporation,Parent,723254,CTAS,Nasdaq Global Market,31-1188630,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,732,732,COSTCO WHOLESALE CORP /NEW,Costco Photo Center; PNI Digital Media,Third-party,909832,COST,Nasdaq Global Market,91-1223280,NaN,...,150.059998,152.229996,149.919998,142.009995,158.119995,167.470001,167.940002,153.149994,157.5,158.416667
733,733,733,RITE AID CORP,Rite Aid Pharmacy; PNI Digital Media,Third-party,84129,RAD,NYSE,23-1614034,NaN,...,159.000000,159.800003,160.800003,153.199997,154.800003,137.199997,154.600006,162.000000,170.0,170.000000
734,734,734,CVS HEALTH Corp,CVSphoto.com; PNI Digital Media,Third-party,64803,CVS,NYSE,05-0494040,NaN,...,93.110001,99.339996,100.769997,106.099998,96.669998,96.839996,97.110001,91.519997,113.5,113.500000
735,735,735,WEYERHAEUSER CO,Premera Blue Cross,Third-party,106535,WY,NYSE,91-0470860,NaN,...,31.080000,28.450001,29.420000,30.139999,30.870001,25.820000,23.770000,29.450001,38.0,38.250000
736,736,736,"ConnectOne Bancorp, Inc.",Unknown,Third-party,712771,CNOB,Nasdaq Global Market,52-1273725,NaN,...,19.600000,19.120001,19.980000,22.080000,20.870001,18.879999,18.209999,18.170000,NaN,NaN

In [77]:
# Store new dataframe as csv for easy load-in/testing
stock_price_aa_records.to_csv("../data/stock_price_aa_records.csv", index = False)

In [88]:
#### CURRENT WORK FRAME
# Load in dataframe
stock_price_aa_records = pd.read_csv("../data/stock_price_aa_records.csv")

In [89]:
# Cleaning and Dummy encoding
stock_price_aa_records['Type of Info'] = stock_price_aa_records['Type of Info'].str.replace(" ", "")
stock_price_aa_records['Attack'] = stock_price_aa_records['Attack'].str.replace("; ", "|")
stock_price_aa_records = pd.concat([stock_price_aa_records.drop('Type of Info', 1), stock_price_aa_records['Type of Info'].str.get_dummies(sep="|").add_suffix(" (Type of Info)")], 1)
stock_price_aa_records = pd.concat([stock_price_aa_records.drop('Attack', 1), stock_price_aa_records['Attack'].str.get_dummies(sep="|").add_suffix(" (Attack)")], 1)

,Company name,Ticker,Date of Breach,Date Became Aware of Breach,Date of Disclosure,Number of Records,Information,Stock Price (0 months DoD),Stock Price (1 months DoD),Stock Price (2 months DoD),Stock Price (3 months DoD),Stock Price (4 months DoD),Stock Price (5 months DoD),Stock Price (6 months DoD),Stock Price (7 months DoD),Stock Price (8 months DoD),Stock Price (9 months DoD),Stock Price (10 months DoD),Stock Price (11 months DoD),Stock Price (12 months DoD),median stock forecast,mean stock forecast,Financial (Type of Info),Intrusion (Type of Info),ND (Type of Info),Other (Type of Info),Personal (Type of Info),Exploit (Attack),Malware (Attack),Misconfiguration (Attack),ND (Attack),Phishing (Attack),Ransomware (Attack),SQLi (Attack),Spoofing (Attack),Unauthorized Access (Attack),Virus (Attack)
0,HUMANA INC,HUM,10/12/2020 - 12/16/2020,2020-12-22 00:00:00,2021-02-25,NaN,SSN | Name | DoB | Address | Phone Number | Em...,381.399994,414.660004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
1,HERBALIFE NUTRITION LTD.,HLF,2020-10-01 00:00:00,NaN,2021-02-23,NaN,Name | Phone Number | Address | DOB | Membersh...,45.279999,46.299999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
2,"Ultra Clean Holdings, Inc.",UCTT,NaN,NaN,2021-02-23,NaN,SSN | Driver's License,48.369999,55.090000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
3,KROGER CO,KR,NaN,2021-01-23 00:00:00,2021-02-19,NaN,Name | Email | Phone Number | Address | DOB | ...,33.840000,34.689999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
4,CINTAS CORP,CTAS,9/16/2020 - 9/20/2020,2020-09-20 00:00:00,2021-02-15,NaN,Name | Bank Account,345.100006,351.600006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,COSTCO WHOLESALE CORP /NEW,COST,6/19/2014 - 7/15/2015,,2015-09-23,815,Credit Card | Name | Address | Phone Number | ...,142.649994,158.149994,163.449997,161.229996,153.690002,150.059998,152.229996,149.919998,142.009995,158.119995,167.470001,167.940002,153.149994,157.5,158.416667,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
733,RITE AID CORP,RAD,8/20/2014 - 7/14/2015,2015-08-17 00:00:00,2015-09-22,NaN,Credit Card | Name | Address | Phone Number | ...,146.600006,124.400002,154.199997,157.399994,154.199997,159.000000,159.800003,160.800003,153.199997,154.800003,137.199997,154.600006,162.000000,170.0,170.000000,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
734,CVS HEALTH Corp,CVS,6/19/2014 - 7/14/2015,2015-08-13 00:00:00,2015-09-11,NaN,Credit Card | Name | Address | Phone Number | ...,100.800003,102.000000,97.839996,94.739998,94.919998,93.110001,99.339996,100.769997,106.099998,96.669998,96.839996,97.110001,91.519997,113.5,113.500000,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
735,WEYERHAEUSER CO,WY,May-2014 - 1/29/2015,2015-01-29 00:00:00,2015-03-17,11000000,Name | DoB | Address | Email | SSN | Other,33.680000,32.150002,32.340000,32.959999,30.959999,31.080000,28.450001,29.420000,30.139999,30.870001,25.820000,23.770000,29.450001,38.0,38.250000,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
736,"ConnectOne Bancorp, Inc.",CNOB,NaN,2014-11-05 00:00:00,2014-11-11,NaN,Money,18.969999,18.350000,18.600000,18.430000,18.020000,19.600000,19.120001,19.980000,22.080000,20.870001,18.879999,18.209999,18.170000,NaN,NaN,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0

In [ ]:
"""
It turns out there are A LOT of different types of information released (around ~70) 
and this will probably be correlated to the type of info, so let's just not include this for now
"""
# stock_price_aa_records['Information'] = stock_price_aa_records['Information'].str.replace(" ", "")
# stock_price_aa_records = pd.concat([stock_price_aa_records.drop('Information', 1), stock_price_aa_records['Information'].str.get_dummies(sep="|").add_suffix(" (Information)")], 1)

In [90]:
# Avoiding the dummy variable trap [https://www.wikiwand.com/en/Dummy_variable_(statistics)]
# Drop ND (Not Disclosed) columns for 'Attack' and 'Type of Info'
stock_price_aa_records.drop(columns = ['ND (Type of Info)', 'ND (Attack)'], inplace = True)
display(stock_price_aa_records)

,Company name,Ticker,Date of Breach,Date Became Aware of Breach,Date of Disclosure,Number of Records,Information,Stock Price (0 months DoD),Stock Price (1 months DoD),Stock Price (2 months DoD),Stock Price (3 months DoD),Stock Price (4 months DoD),Stock Price (5 months DoD),Stock Price (6 months DoD),Stock Price (7 months DoD),Stock Price (8 months DoD),Stock Price (9 months DoD),Stock Price (10 months DoD),Stock Price (11 months DoD),Stock Price (12 months DoD),median stock forecast,mean stock forecast,Financial (Type of Info),Intrusion (Type of Info),Other (Type of Info),Personal (Type of Info),Exploit (Attack),Malware (Attack),Misconfiguration (Attack),Phishing (Attack),Ransomware (Attack),SQLi (Attack),Spoofing (Attack),Unauthorized Access (Attack),Virus (Attack)
0,HUMANA INC,HUM,10/12/2020 - 12/16/2020,2020-12-22 00:00:00,2021-02-25,NaN,SSN | Name | DoB | Address | Phone Number | Em...,381.399994,414.660004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1,0,0,0,0,0,0,0,1,0
1,HERBALIFE NUTRITION LTD.,HLF,2020-10-01 00:00:00,NaN,2021-02-23,NaN,Name | Phone Number | Address | DOB | Membersh...,45.279999,46.299999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0,0,0,0,1,0
2,"Ultra Clean Holdings, Inc.",UCTT,NaN,NaN,2021-02-23,NaN,SSN | Driver's License,48.369999,55.090000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1,0,0,0,0,0,0,0,0,0
3,KROGER CO,KR,NaN,2021-01-23 00:00:00,2021-02-19,NaN,Name | Email | Phone Number | Address | DOB | ...,33.840000,34.689999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1,0,0,0,0,0,0,0,1,0
4,CINTAS CORP,CTAS,9/16/2020 - 9/20/2020,2020-09-20 00:00:00,2021-02-15,NaN,Name | Bank Account,345.100006,351.600006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,COSTCO WHOLESALE CORP /NEW,COST,6/19/2014 - 7/15/2015,,2015-09-23,815,Credit Card | Name | Address | Phone Number | ...,142.649994,158.149994,163.449997,161.229996,153.690002,150.059998,152.229996,149.919998,142.009995,158.119995,167.470001,167.940002,153.149994,157.5,158.416667,1,0,0,0,0,0,0,0,0,0,0,0,0
733,RITE AID CORP,RAD,8/20/2014 - 7/14/2015,2015-08-17 00:00:00,2015-09-22,NaN,Credit Card | Name | Address | Phone Number | ...,146.600006,124.400002,154.199997,157.399994,154.199997,159.000000,159.800003,160.800003,153.199997,154.800003,137.199997,154.600006,162.000000,170.0,170.000000,1,0,0,0,0,0,0,0,0,0,0,0,0
734,CVS HEALTH Corp,CVS,6/19/2014 - 7/14/2015,2015-08-13 00:00:00,2015-09-11,NaN,Credit Card | Name | Address | Phone Number | ...,100.800003,102.000000,97.839996,94.739998,94.919998,93.110001,99.339996,100.769997,106.099998,96.669998,96.839996,97.110001,91.519997,113.5,113.500000,1,0,0,0,0,0,0,0,0,0,0,0,0
735,WEYERHAEUSER CO,WY,May-2014 - 1/29/2015,2015-01-29 00:00:00,2015-03-17,11000000,Name | DoB | Address | Email | SSN | Other,33.680000,32.150002,32.340000,32.959999,30.959999,31.080000,28.450001,29.420000,30.139999,30.870001,25.820000,23.770000,29.450001,38.0,38.250000,0,0,0,1,0,0,0,1,0,0,0,0,0
736,"ConnectOne Bancorp, Inc.",CNOB,NaN,2014-11-05 00:00:00,2014-11-11,NaN,Money,18.969999,18.350000,18.600000,18.430000,18.020000,19.600000,19.120001,19.980000,22.080000,20.870001,18.879999,18.209999,18.170000,NaN,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0

In [44]:
# TODO: Calculate difference between actual and predicted stock price (usually 12 months into the future). 
# Need to figure out how to standardize this -> maybe divide difference by actual: (actual - predicted)/actual. 

# figure out how to do multiple linear regression

In [ ]:
stock_prices = pd.DataFrame()
n = 1 
for x in col[1:]:
    stock_prices[n] = stock_price_aa_records.apply(lambda row: (row[x] - row[col[0]])/row[col[0]], axis = 1)
    n += 1

boxplot = sns.boxplot(x="variable", y = "value", data=pd.melt(stock_prices).dropna())
boxplot.set(xlabel="Months after Disclosure", ylabel='Percent Stock Price Change') # Where x month is percent change from start of breach
plt.show()

In [ ]:
# It appears that, on average, stock price goes up
display(stock_prices.mean())

In [ ]:
# Let's use median because there are some outliers. Same trend seems to occur
display(stock_prices.median())

In [ ]:
# Let's take 5% trimmed mean (get rid of some outliers)
for x in range(1, months_after + 1):
    print("%s: %s" % (x, stats.trim_mean(stock_prices[x].dropna(), 0.05)))

In [ ]:
# USE ALPHA VANTAGE to get missing entries?
# web.DataReader("BRK.A", "av-daily", start=datetime.datetime(2017, 2, 9), end=datetime.datetime(2017, 5, 24), api_key="")