In [21]:
# Standard libraries
import pandas as pd
import numpy as np
from scipy import stats
# Visualization
import matplotlib.pyplot as plt
import datetime
import os 

# os.system("pip install wrds") # TODO: Probably put this in utils.py
import wrds

# os.system("pip install pandas-datareader")
import pandas_datareader.data as web

<b>TODO LIST:</b>
1. Parse audit analytics data for year and month of date of disclosure (possibly include date of breach) - Might have to select a couple of firms that we want to analyze?
    * Use year, month, and ticker to find stock price of company for that month (in WorldScope database)
    * Find stock price 1 to 12 months from that date (WorldScope). Calculate gain/loss in stock price from original. Potentially even take stock price the month before the breach?
2. Perform statistical tests + data visualization/analysis. Some examples:
    * Regression on multiple variables to predict stock price gain/loss over x months 
    * Scatter plot over time (ex: 2000-2021) of stock price gains/losses
    * Scatter plot over time after date of disclosure/breach of stock price gains/losses
    * Use Regression to see if type of breach matters for stock price
    * Regression to predict records lost?
    * Create decision tree to see type of breach

<b>Problems to maybe deal with:</b> <br>
What to do with 0 total records? - drop or use some averaging technique?
Do we combine audit analytics dataset with another one (PRC? Gordon said the PRC data is more erroneous than audit analytics, audit analytics more trusted) - make sure no repeats

<b>Resources for WRDS:</b> <br>
WorldScope (I think this is what we want): 
    https://wrds-web.wharton.upenn.edu/wrds//ds/tfn/ws/stock/index.cfm#variablesTab
    https://wrds-web.wharton.upenn.edu/wrds//ds/compd/secm/index.cfm
* Use: 5001 -- Market Price - Year End, stuff like 5015 -- End Market Price - January, 5601 -- ticker, 6038 -- IBES ticker

CRSP also works but I think WorldScope is better.
https://wrds-web.wharton.upenn.edu/wrds//ds/crsp/stock_a/msf.cfm
https://wrds-web.wharton.upenn.edu/wrds/tools/variable.cfm?library_id=20&file_id=123976


<b>There already seems to be a nice data reader for this! https://www.youtube.com/watch?v=57qAxRV577c USe this instead maybe?, stop using other stuff</b><br>

In [2]:
db = wrds.Connection()

Enter your WRDS username [gabri]:gnaval
Enter your password:········
WRDS recommends setting up a .pgpass file.
You can find more info here:
https://www.postgresql.org/docs/9.5/static/libpq-pgpass.html.
Loading library list...
Done

In [3]:
# Example WRDS code
# db.list_tables('crsp')
db.get_table(library = 'crsp', table ='msf', obs = 10)

,cusip,permno,permco,issuno,hexcd,hsiccd,date,bidlo,askhi,prc,...,ret,bid,ask,shrout,cfacpr,cfacshr,altprc,spread,altprcdt,retx
0,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1985-12-31,NaN,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,-2.562500,NaN,1986-01-07,NaN
1,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-01-31,-2.50000,-4.437500,-4.375000,...,NaN,None,None,3680.0,1.0,1.0,-4.375000,0.25000,1986-01-31,NaN
2,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-02-28,-3.25000,-4.375000,-3.250000,...,-0.257143,None,None,3680.0,1.0,1.0,-3.250000,0.25000,1986-02-28,-0.257143
3,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-03-31,-3.25000,-4.437500,-4.437500,...,0.365385,None,None,3680.0,1.0,1.0,-4.437500,0.12500,1986-03-31,0.365385
4,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-04-30,-4.00000,-4.312500,-4.000000,...,-0.098592,None,None,3793.0,1.0,1.0,-4.000000,0.25000,1986-04-30,-0.098592
5,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-05-30,-3.06250,-4.218750,-3.109375,...,-0.222656,None,None,3793.0,1.0,1.0,-3.109375,0.09375,1986-05-30,-0.222656
6,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-06-30,-2.90625,-3.296875,-3.093750,...,-0.005025,None,None,3793.0,1.0,1.0,-3.093750,0.06250,1986-06-30,-0.005025
7,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-07-31,-2.59375,-3.437500,-2.843750,...,-0.080808,None,None,3793.0,1.0,1.0,-2.843750,0.06250,1986-07-31,-0.080808
8,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-08-29,-1.03125,-2.625000,-1.093750,...,-0.615385,None,None,3793.0,1.0,1.0,-1.093750,0.06250,1986-08-29,-0.615385
9,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-09-30,-0.96875,-1.281250,-1.031250,...,-0.057143,None,None,3793.0,1.0,1.0,-1.031250,0.06250,1986-09-30,-0.057143

In [4]:
# Example WRDS code
# data_5rows = db.get_table(library='wrdssec', table='wrds_nlpsa', columns = ['gvkey', 'cik', 'filename', 'finterms_litigious_count'], obs=5)
pd.set_option('display.max_rows', 10)

sql_query="""
SELECT *
FROM trws.wrds_ws_stock
WHERE ITEM5601 = 'GEO' AND year_=2020
"""
data_query = db.raw_sql(sql_query)
display(data_query)
# data_query[data_query['item6038'].str.contains('CFX') == True]

,code,year_,freq,seq,date_,item5001,item5002,item5003,item5004,item5005,...,item18193,item18202,item18205,item18208,item18209,item18210,item18211,item18259,item18260,item18261
0,19875.0,2020.0,A,1.0,2020-10-30,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,NaN,None,None,None,NaN,NaN
1,57330.0,2020.0,A,1.0,2020-10-30,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,NaN,None,None,None,NaN,NaN
2,123107.0,2020.0,A,1.0,2020-10-30,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,NaN,None,None,None,NaN,NaN
3,126954.0,2020.0,A,1.0,2020-10-30,0.06,0.127,0.02,0.45103,0.20213,...,None,None,None,None,-0.0252,None,None,None,0.0,0.0
4,127140.0,2020.0,A,1.0,2020-10-30,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,NaN,None,None,None,NaN,NaN

In [5]:
# PRC Dataset 
PRC_df = pd.read_csv("../data/prc.csv" )

# Data Cleaning
PRC_df.drop(PRC_df.columns[[13,14,15]], axis=1, inplace = True)
PRC_df = PRC_df[PRC_df['Total Records'].notna()]

def records_to_int(record_str):
    return int(str(record_str).replace(",", ""))

PRC_df['Total Records'] = PRC_df['Total Records'].apply(records_to_int)

# Drop rows with 0 total records (Maybe toggle this off we want to fill in data)
PRC_df = PRC_df[PRC_df['Total Records'] != 0]

In [18]:
# Audit Analytics Dataset
xls = pd.ExcelFile('../data/audit_analytics.xlsx')
aa_records_df = pd.read_excel(xls, 'PublicCyber')
aa_ddos_df = pd.read_excel(xls, 'DDoS')

# Get rid of rows with no tickers (these might be non-publicly traded)
aa_records_df = aa_records_df[aa_records_df['Ticker'].isna() != True]

In [15]:
# Ticker - Don't think we need this 
ticker_df = pd.read_csv("../data/ticker.csv" )
ticker_df

       Unnamed: 0  cik_str ticker                                   title
0               0   320193   AAPL                              Apple Inc.
1               1   789019   MSFT                          MICROSOFT CORP
2               2  1018724   AMZN                          AMAZON COM INC
3               3  1652044   GOOG                           Alphabet Inc.
4               4  1293451  TCEHY                    Tencent Holdings Ltd
...           ...      ...    ...                                     ...
11351       11351  1830081  CFVIU                 CF Acquisition Corp. VI
11352       11352  1830063  NAACU         North Atlantic Acquisition Corp
11353       11353  1829889  IIIIW               INSU ACQUISITION CORP III
11354       11354  1829999  FOXWU  FoxWayne Enterprises Acquisition Corp.
11355       11355  1829999  FOXWW  FoxWayne Enterprises Acquisition Corp.

[11356 rows x 4 columns]

In [34]:
test_df = aa_records_df[aa_records_df['Year'] < 2021]

,Company name,Related party,Target relationship to Parent,CIK,Ticker,Market,IRS Number,Parent CIK,Parent Name,Bus Street 1,Bus Street 2,City,County,State Code,State Name,Zip,Region,Bus Phone,Inc. State Code,Inc. State Name,SIC Code,SIC Description,NAICS Code,NAICS Description,Year,Month,Breach No.,Registration Number - Auditor Date of Breach,Auditor Date of Breach,Auditor Key Date of Breach,Auditor Affiliate Date of Breach,Registration Number - Auditor Affiliate Date of Breach,Auditor City,Auditor State Code,Auditor State Name,Auditor State Region,Registration Number - Current Auditor,Current Auditor,Current Auditor Key,Current Affiliate Auditor,Registration Number - Current Affiliate Auditor,Auditor City.1,Auditor State Code.1,Auditor State Name.1,Auditor State Region.1,Date of Breach,Date Became Aware of Breach,Date of Disclosure,Type of Breach,Number of Records,Type of Info,Information,Attack,Link,Source,Release,6/8-K SEC notification,Date,First Estimate Filing,Section,Filing Date,Filing Disclosure,Cost/Estimate,Reimbursements,Insurance,Litigation Docket,Lead Defendant Representation,Lead Plaintiff Representation,Litigation Settlement
33,"T-Mobile US, Inc.","T-Mobile US, Inc.",Parent,1283699,TMUS,Nasdaq Global Market,20-0836269,NaN,NaN,8144 WALNUT HILL LANE,SUITE 800,DALLAS,Dallas,TX,TEXAS,75231,US Southwest,(800) 318-9270,DE,DELAWARE,4812.0,Radiotelephone Communications,517212.0,Cellular and Other Wireless Telecommunications,2020,12,851,238.0,PricewaterhouseCoopers LLP,1.0,NaN,NaN,Seattle,WA,WASHINGTON,US West,238.0,PricewaterhouseCoopers LLP,1.0,,NaN,Seattle,WA,WASHINGTON,US West,NaN,NaN,2020-12-30,HACK,200000,Personal,Phone Number | Other,Unauthorized Access,https://www.bleepingcomputer.com/news/security...,Bleeping Computer,T-Mobile has announced a data breach exposing ...,https://www.sec.gov/Archives/edgar/data/128369...,2021-02-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,WHIRLPOOL CORP /DE/,WHIRLPOOL CORP /DE/,Parent,106640,WHR,NYSE,38-1490038,NaN,NaN,WHIRLPOOL CNTR 2000 M 63,C/O CORPORATE SECRETARY,BENTON HARBOR,Berrien,MI,MICHIGAN,49022-2692,US Midwest,(269) 923-5000,DE,DELAWARE,3630.0,Household Appliances,335228.0,Other Major Household Appliance Manufacturing,2020,12,850,42.0,Ernst & Young LLP,2.0,NaN,NaN,Chicago,IL,ILLINOIS,US Midwest,42.0,Ernst & Young LLP,2.0,,NaN,Chicago,IL,ILLINOIS,US Midwest,NaN,NaN,2020-12-28,HACK,NaN,Personal,Other,Ransomware,https://www.bleepingcomputer.com/news/security...,Bleeping Computer,Home appliances giant Whirlpool suffered a ran...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Colfax CORP,"DJO Global, Inc.",Subsidiary,1420800,CFX,NYSE,54-1887631,NaN,NaN,420 NATIONAL BUSINESS PARKWAY,5TH FLOOR,ANNAPOLIS JUNCTION,Howard,MD,MARYLAND,20701,US Mid Atlantic,(301) 323-9000,DE,DELAWARE,3561.0,Pumps and Pumping Equipment,333911.0,Pump and Pumping Equipment Manufacturing,2020,12,849,42.0,Ernst & Young LLP,2.0,NaN,NaN,Baltimore,MD,MARYLAND,US Mid Atlantic,42.0,Ernst & Young LLP,2.0,,NaN,Baltimore,MD,MARYLAND,US Mid Atlantic,11/8/2020 - 11/9/2020,2020-11-16 00:00:00,2020-12-23,HACK,NaN,Financial,Name|SSN|Other|Bank Account,Unauthorized Access,https://oag.ca.gov/system/files/DJO%20-%20Noti...,Office of Attorney General: California,We write to share important information with y...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,"VMWARE, INC.",SolarWinds Corp,Third-Party,1124610,VMW,NYSE,94-3292913,NaN,NaN,3401 HILLVIEW AVENUE,NaN,PALO ALTO,Santa Clara,CA,CALIFORNIA,94304,US West,(650) 427-5000,DE,DELAWARE,7372.0,Prepackaged Software,541511.0,Custom Computer Programming Services,2020,12,848,238.0,PricewaterhouseCoopers LLP,1.0,NaN,NaN,San Jose,CA,CALIFORNIA,US West,238.0,PricewaterhouseCoopers LLP,1.0,,NaN,San Jose,CA,CALIFORNIA,US West,NaN,NaN,2020-12-21,HACK,NaN,ND,ND,Malware,https://www.wsj.com/articles/solarwinds-hack-v...,Wall Street Journal,The suspected Russian hackers behind breaches ...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NVIDIA CORP,SolarWinds Corp,Third-Party,1045810,NVDA,Nasdaq Global Market,94-3177549,NaN,NaN,2788 SAN TOMAS EXPRESSWAY,NaN,SANTA CLARA,Santa Clara,CA,CALIFORNIA,95051,US West,(408) 486-2000,DE,DELAWARE,3674.0,Semiconductors and Related Devices,334413.0,Semiconductor and Related Device Manufacturing,2020,12,847,238.0,PricewaterhouseCoopers LLP,1.0,NaN,NaN,San Jose,CA,CALIFORNIA,US West,238.0,PricewaterhouseCoopers LLP,1.0,,NaN,San Jose,CA,CALIFORNIA,US West,NaN,NaN,2020-12-21,HACK,NaN,ND,ND,Malware,https://www.wsj.com/articles/solarwinds-hack-v...,Wall Street Journal,The suspected Russian hackers behind breaches ...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,COSTCO WHOLESALE CORP /NEW,Costco Photo Center; PNI Digital Media,Third-party,909832,COST,Nasdaq Global Market,91-1223280,NaN,NaN,999 LAKE DRIVE,NaN,ISSAQUAH,NaN,WA,WASHINGTON,98027-,US West,(425) 313-8100,WA,WASHINGTON,5331.0,Variety Stores,452910.0,Warehouse Clubs and Supercenters,2015,1900-01-09 00:00:00,197,185.0,KPMG LLP,4.0,NaN,NaN,Seattle,WA,WASHINGTON,US West,185.0,KPMG LLP,4.0,,NaN,Seattle,WA,WASHINGTON,US West,6/19/2014 - 7/15/2015,,2015-09-23,HACK,815,Financial,Credit Card | Name | Address | Phone Number | ...,ND,http://www.costcophotocenter.com/,Costco,As a result of recent reports suggesting that ...,,NaN,http://www.sec.gov/Archives/edgar/data/909832/...,Risk Factors,2015-10-14 00:00:00,Our security measures may be undermined due to...,0,NaN,NaN,NaN,NaN,NaN,NaN
862,RITE AID CORP,Rite Aid Pharmacy; PNI Digital Media,Third-party,84129,RAD,NYSE,23-1614034,NaN,NaN,30 HUNTER LANE,NaN,CAMP HILL,Cumberland,PA,PENNSYLVANIA,1946-07-28 00:00:00,US Mid Atlantic,(717) 761-2633,DE,DELAWARE,5912.0,Drug Stores and Proprietary Stores,446110.0,Pharmacies and Drug Stores,2015,1900-01-09 00:00:00,198,34.0,Deloitte & Touche LLP,3.0,NaN,NaN,Philadelphia,PA,PENNSYLVANIA,US Mid Atlantic,34.0,Deloitte & Touche LLP,3.0,,NaN,Philadelphia,PA,PENNSYLVANIA,US Mid Atlantic,8/20/2014 - 7/14/2015,2015-08-17 00:00:00,2015-09-22,HACK,NaN,Financial,Credit Card | Name | Address | Phone Number | ...,ND,https://shop.riteaid.com/info/photo-info,Rite Aid,"July 17, 2015 \n\nWe recently were advised by ...",,NaN,ND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863,CVS HEALTH Corp,CVSphoto.com; PNI Digital Media,Third-party,64803,CVS,NYSE,05-0494040,NaN,NaN,ONE CVS DR.,NaN,WOONSOCKET,Providence,RI,RHODE ISLAND,'02895,US New England,(401) 765-1500,DE,DELAWARE,5912.0,Drug Stores and Proprietary Stores,446110.0,Pharmacies and Drug Stores,2015,1900-01-09 00:00:00,194,42.0,Ernst & Young LLP,2.0,NaN,NaN,Boston,MA,MASSACHUSETTS,US New England,42.0,Ernst & Young LLP,2.0,,NaN,Boston,MA,MASSACHUSETTS,US New England,6/19/2014 - 7/14/2015,2015-08-13 00:00:00,2015-09-11,HACK,NaN,Financial,Credit Card | Name | Address | Phone Number | ...,ND,http://oag.ca.gov/system/files/Payment%20Card%...,Office of the Attorney General: California,"September 11, 2015\nDear [INSERT First_Last_Na...",,NaN,ND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
867,WEYERHAEUSER CO,Premera Blue Cross,Third-party,106535,WY,NYSE,91-0470860,NaN,NaN,220 OCCIDENTAL AVENUE SOUTH,NaN,SEATTLE,King,WA,WASHINGTON,2168-08-05 00:00:00,US West,(206) 539-3000,WA,WASHINGTON,6798.0,Real Estate Investment Trusts,525930.0,Real Estate Investment Trusts,2015,1900-01-03 00:00:00,310,185.0,KPMG LLP,4.0,NaN,NaN,Seattle,WA,WASHINGTON,US West,185.0,KPMG LLP,4.0,,NaN,Seattle,WA,WASHINGTON,US West,May-2014 - 1/29/2015,2015-01-29 00:00:00,2015-03-17,HACK,11000000,Personal,Name | DoB | Address | Email | SSN | Other,Phishing,http://oag.ca.gov/system/files/WY%20follow-up%...,Office of the Attorney General: California,"On March 17, 2015, Premera notified Weyerhaeus...",,NaN,ND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
868,"ConnectOne Bancorp, Inc.",Unknown,Third-party,712771,CNOB,Nasdaq Global Market,52-1273725,NaN,NaN,301 SYLVAN AVENUE,NaN,ENGLEWOOD CLIFFS,Bergen,NJ,NEW JERSEY,'07632,US Mid Atlantic,(201) 816-8900,NJ,NEW JERSEY,6022.0,State Commercial Banks,522110.0,Commercial Banking,2014,1900-01-11 00:00:00,311,173.0,Crowe LLP,30212.0,NaN,NaN,New York,NY,NEW YORK,US Mid Atlantic,173.0,Crowe LLP,30212.0,,NaN,New York,NY,NEW YORK,US Mid Atlantic,NaN,2014-11-05 00:00:00,2014-11-11,HACK,NaN,Other,Money,ND,http://www.sec.gov/Archives/edgar/data/712771/...,SEC,"Note 13. Subsequent Event\n \nOn November 5, ...",,NaN,http://www.sec.gov/Archives/edgar/data/712771/...,Footnotes,2014-11-10 00:00:00,"Note 13. Subsequent Event\n \nOn November 5, ...",1500000,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
def nearest(items, pivot):
    return min(items, key=lambda x: abs((x - pivot).days))

def stock_after_disclosure(row, months_after):
    start = pd.to_datetime(row['Date of Disclosure']) 
    end = start + pd.DateOffset(months = months_after)
    # Don't know if i should include this, check stock day before breach to control for large stock dip when breach is disclosed
    start -= datetime.timedelta(days=1) 
    df = web.DataReader(row['Ticker'], 'yahoo', start, end)
    display(df)
    lst = []
    for month in range(0, months_after + 1):
        date = nearest(df.index, (start + pd.DateOffset(months = month)))
        print(df.loc[date]["Close"])
        lst.append(df.loc[date]["Close"])
    return lst
    
# start = pd.to_datetime("4/28/2020") - datetime.timedelta(days=1)
# end = start + pd.DateOffset(months = 5)
# chegg = web.DataReader("CHGG", 'yahoo', start, end)
# chegg

In [78]:
# Minitest
a = test_df.head(3)
lst = []
for index, row in a.iterrows():
    x = stock_after_disclosure(row, 1)
    lst.append(x)
    
print(lst)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-29,133.970001,131.649994,133.520004,133.139999,1672500,133.139999
2020-12-30,133.830002,132.509995,133.520004,133.279999,1673100,133.279999
2020-12-31,135.000000,133.100006,133.149994,134.850006,2080600,134.850006
2021-01-04,134.979996,130.460007,134.300003,132.429993,3433100,132.429993
2021-01-05,132.240005,130.460007,131.949997,131.850006,2544200,131.850006
...,...,...,...,...,...,...
2021-01-25,132.399994,129.669998,130.750000,131.100006,2892600,131.100006
2021-01-26,132.710007,130.000000,130.020004,131.410004,3219000,131.410004
2021-01-27,130.000000,122.449997,129.690002,123.269997,7023100,123.269997
2021-01-28,129.600006,124.500000,125.790001,127.769997,5000200,127.769997
2021-01-29,129.229996,125.370003,126.559998,126.080002,4590000,126.080002

133.13999938964844
126.08000183105469
[133.13999938964844, 126.08000183105469]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-28,194.000000,185.119995,193.869995,185.190002,571800,183.993805
2020-12-29,186.330002,181.300003,185.199997,183.199997,399200,182.016647
2020-12-30,185.830002,183.690002,184.149994,184.389999,373100,183.198975
2020-12-31,183.929993,180.259995,183.929993,180.490005,535000,179.324173
2021-01-04,182.690002,175.369995,182.479996,176.899994,886800,175.757339
...,...,...,...,...,...,...
2021-01-22,198.320007,191.539993,193.500000,198.210007,599500,196.929703
2021-01-25,210.779999,199.570007,199.570007,203.020004,1150100,201.708633
2021-01-26,208.199997,201.190002,203.029999,206.419998,756700,205.086670
2021-01-27,214.679993,204.000000,204.960007,212.399994,1765100,211.028046
2021-01-28,206.270004,191.240005,206.270004,194.600006,2464600,193.343033

185.19000244140625
212.39999389648438
[185.19000244140625, 212.39999389648438]

                 High        Low       Open      Close   Volume  Adj Close
Date
2020-12-22  36.750000  35.840000  36.619999  36.189999   379900  36.189999
2020-12-23  37.169998  36.380001  36.560001  36.650002   650500  36.650002
2020-12-24  36.869999  36.320000  36.779999  36.790001   117700  36.790001
2020-12-28  37.490002  36.900002  37.250000  36.900002   444700  36.900002
2020-12-29  37.310001  36.320000  37.240002  36.680000   464800  36.680000
...               ...        ...        ...        ...      ...        ...
2021-01-15  39.389999  37.910000  39.180000  38.730000   985300  38.730000
2021-01-19  39.950001  39.110001  39.270000  39.590000   866500  39.590000
2021-01-20  40.759998  39.599998  39.810001  40.110001   796400  40.110001
2021-01-21  40.430000  39.490002  40.200001  40.090000  1324200  40.090000
2021-01-22  40.680000  39.349998  39.560001  40.599998   898000  40.599998

[21 rows x 6 columns]

36.189998626708984
40.599998474121094
[36.189998626708984, 40.599998474121094]
[[133.13999938964844, 126.08000183105469], [185.19000244140625, 212.39999389648438], [36.189998626708984, 40.599998474121094]]

In [107]:
a = test_df.head(3).reset_index()
b = pd.DataFrame(lst, columns = ['x', 'y'])
# display(a)
# display(b)
concatenated = pd.concat([a, b], axis=1, join='inner')
display(concatenated)

,index,Company name,Related party,Target relationship to Parent,CIK,Ticker,Market,IRS Number,Parent CIK,Parent Name,Bus Street 1,Bus Street 2,City,County,State Code,State Name,Zip,Region,Bus Phone,Inc. State Code,Inc. State Name,SIC Code,SIC Description,NAICS Code,NAICS Description,Year,Month,Breach No.,Registration Number - Auditor Date of Breach,Auditor Date of Breach,Auditor Key Date of Breach,Auditor Affiliate Date of Breach,Registration Number - Auditor Affiliate Date of Breach,Auditor City,Auditor State Code,Auditor State Name,Auditor State Region,Registration Number - Current Auditor,Current Auditor,Current Auditor Key,Current Affiliate Auditor,Registration Number - Current Affiliate Auditor,Auditor City.1,Auditor State Code.1,Auditor State Name.1,Auditor State Region.1,Date of Breach,Date Became Aware of Breach,Date of Disclosure,Type of Breach,Number of Records,Type of Info,Information,Attack,Link,Source,Release,6/8-K SEC notification,Date,First Estimate Filing,Section,Filing Date,Filing Disclosure,Cost/Estimate,Reimbursements,Insurance,Litigation Docket,Lead Defendant Representation,Lead Plaintiff Representation,Litigation Settlement,x,y
0,33,"T-Mobile US, Inc.","T-Mobile US, Inc.",Parent,1283699,TMUS,Nasdaq Global Market,20-0836269,NaN,NaN,8144 WALNUT HILL LANE,SUITE 800,DALLAS,Dallas,TX,TEXAS,75231,US Southwest,(800) 318-9270,DE,DELAWARE,4812.0,Radiotelephone Communications,517212.0,Cellular and Other Wireless Telecommunications,2020,12,851,238.0,PricewaterhouseCoopers LLP,1.0,NaN,NaN,Seattle,WA,WASHINGTON,US West,238.0,PricewaterhouseCoopers LLP,1.0,,NaN,Seattle,WA,WASHINGTON,US West,NaN,NaN,2020-12-30,HACK,200000,Personal,Phone Number | Other,Unauthorized Access,https://www.bleepingcomputer.com/news/security...,Bleeping Computer,T-Mobile has announced a data breach exposing ...,https://www.sec.gov/Archives/edgar/data/128369...,2021-02-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133.139999,126.080002
1,34,WHIRLPOOL CORP /DE/,WHIRLPOOL CORP /DE/,Parent,106640,WHR,NYSE,38-1490038,NaN,NaN,WHIRLPOOL CNTR 2000 M 63,C/O CORPORATE SECRETARY,BENTON HARBOR,Berrien,MI,MICHIGAN,49022-2692,US Midwest,(269) 923-5000,DE,DELAWARE,3630.0,Household Appliances,335228.0,Other Major Household Appliance Manufacturing,2020,12,850,42.0,Ernst & Young LLP,2.0,NaN,NaN,Chicago,IL,ILLINOIS,US Midwest,42.0,Ernst & Young LLP,2.0,,NaN,Chicago,IL,ILLINOIS,US Midwest,NaN,NaN,2020-12-28,HACK,NaN,Personal,Other,Ransomware,https://www.bleepingcomputer.com/news/security...,Bleeping Computer,Home appliances giant Whirlpool suffered a ran...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,185.190002,212.399994
2,35,Colfax CORP,"DJO Global, Inc.",Subsidiary,1420800,CFX,NYSE,54-1887631,NaN,NaN,420 NATIONAL BUSINESS PARKWAY,5TH FLOOR,ANNAPOLIS JUNCTION,Howard,MD,MARYLAND,20701,US Mid Atlantic,(301) 323-9000,DE,DELAWARE,3561.0,Pumps and Pumping Equipment,333911.0,Pump and Pumping Equipment Manufacturing,2020,12,849,42.0,Ernst & Young LLP,2.0,NaN,NaN,Baltimore,MD,MARYLAND,US Mid Atlantic,42.0,Ernst & Young LLP,2.0,,NaN,Baltimore,MD,MARYLAND,US Mid Atlantic,11/8/2020 - 11/9/2020,2020-11-16 00:00:00,2020-12-23,HACK,NaN,Financial,Name|SSN|Other|Bank Account,Unauthorized Access,https://oag.ca.gov/system/files/DJO%20-%20Noti...,Office of Attorney General: California,We write to share important information with y...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.189999,40.599998

In [64]:
pd.set_option('display.max_rows', 10)

# display(chegg)
x = start + pd.DateOffset(months = 2)
nearest(chegg.index, x)

# chegg.loc[x]

Timestamp('2020-06-26 00:00:00')

In [14]:
# This is old code that attempted to use WORLDSCOPE (WRDS database) to figure out stock price. However, it kept on yield NAN values


def month_to_stock_col(month):
    return "ITEM" + str(5010 + 5 * month)


def find_initial_stock(row):
    sql_query = """
    SELECT {} AS init_price, ITEM5601 AS ticker, ITEM6038 AS IBES_ticker 
    FROM trws.wrds_ws_stock
    WHERE ITEM5601 ='{}' and year_={}
    """.format(month_to_stock_col(row['Month']), row['Ticker'], row['Year'])
    df = db.raw_sql(sql_query)
#     display(df)
    num_rows = len(df.index)
    if num_rows == 0:
        return np.nan
    elif num_rows == 1:
        return df['init_price'].iloc[0]
    else:
        print(df.columns)
        match_ibes_df = df[df['ibes_ticker'].str.contains(row['Ticker']) == True]
        print("Number of matching IBES tickers: %s" % len(match_ibes_df))
        num_rows = len(match_ibes_df)
        if num_rows == 0:
            print("No matching IBES tickers found")
            display(df)
        elif num_rows == 1:
            return match_ibes_df['init_price'].iloc[0]
        else:
            print("Multiple matching IBES tickers found")
            display(match_ibes_df)
    return np.nan

# sql_query="""
# SELECT *
# FROM trws.wrds_ws_stock
# WHERE year_=2021
# """

test_df['init_price'] = test_df.apply(lambda row: find_initial_stock(row), axis=1)
test_df['init_price']

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

  init_price ticker ibes_ticker
3       None    CLH        CLHB
4       None    CLH       @CLHH

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

  init_price ticker ibes_ticker
0       None   SPOT        020K
1       None   SPOT        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

  init_price ticker ibes_ticker
0       None  BRK.A        BKHT
1       None  BRK.A        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

  init_price ticker ibes_ticker
0       None    BDC        CDTC
1       None    BDC       @02N5
2       None    BDC        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

  init_price ticker ibes_ticker
0       None    CAJ        CANN
1       None    CAJ        @2VD

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

  init_price ticker ibes_ticker
0       None   MANU        MNCT
1       None   MANU        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

  init_price ticker ibes_ticker
0       None   VIAC         VIA
1       None   VIAC        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

  init_price ticker ibes_ticker
0       None    GEO        @IGT
1       None    GEO        @W9Y
2       None    GEO        WCCX
3       None    GEO        None
4       None    GEO        GDR1

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       0.013    TMX        @YAY
1   14500.000    TMX        None
2      47.090    TMX        007X

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        7.69   VOXX         VOX
1        7.69   VOXX        None
2         NaN   VOXX        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     102.910    MAR         MHS
1       0.037    MAR        @20L
2       0.451    MAR        @4VT

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       73.17   BF.B        BFD1
1       73.17   BF.B        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       16.17    CAJ        CANN
1        0.22    CAJ        @2VD

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        8.15    IEP        @PUI
1       49.93    IEP         ACP

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        7.81    LOV       @00JS
1        2.99    LOV        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
0       1.935    PFG        @PFG
1      36.410    PFG        PFGA

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       1.695    GCI        None
1       1.130    GCI        NEWM

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       19.81    TXG        GRL1
1       79.87    TXG        02NT
2       79.87    TXG        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       74.81    MAR         MHS
1        0.10    MAR        @20L
2        0.33    MAR        @4VT

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0      21.640    CAJ        CANN
1       0.175    CAJ        @2VD

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        2.90    RCI        @RCR
1        2.90    RCI        None
2        1.45    RCI        @IJS

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        13.8     TU        None
1        13.8     TU        @6TF

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
3         NaN    CIR        @CIR
4       11.63    CIR        CIRI

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0         NaN    WBA        @EBI
1       45.76    WBA         WAG

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     1339.25  GOOGL        GOOG
1     1339.25  GOOGL        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       0.055    PSA        @PL4
1     223.760    PSA         SEQ
2       2.780    PSA       @02IA

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
0        0.80     CI        @6CI
2      192.38     CI          CI

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       0.322   WTRH        None
1       0.322   WTRH        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       16.40    PRI        @1PI
1      130.56    PRI        PRMC

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0      792.00   INGR        @W3F
1       83.17   INGR        CPOW

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0      126.55    MAR         MHS
1        0.10    MAR        @20L
2        0.40    MAR        @4VT

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       785.0   INGR        @W3F
1        79.0   INGR        CPOW

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0      53.570    TRU        @5DT
1       4.500    TRU        None
2       4.500    TRU        @TU4
3      82.620    TRU        00S9
4       0.469    TRU       @0210
5       0.109    TRU        None
6      15.400    TRU       @02E8

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        96.4     EA        ERTS
1        41.0     EA       @ENAB

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       0.370    ZEN        NEZ1
1      70.650    ZEN        0051
2       0.615    ZEN        None
3      14.000    ZEN        None
4     165.000    ZEN        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
1        1.86     PK        @PKC
2       24.97     PK        PKWI

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0    311832.0  BRK.A        BKHT
1    311832.0  BRK.A        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     118.960    CNR         CN2
1       0.245    CNR        @LRW
2       6.050    CNR        BLDG

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0         NaN   AMRN        @RVX
1       14.99   AMRN        ETHC

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0      125.15    PSO        @3PL
1       10.54    PSO        PSRN

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0      62.520    TRU        @5DT
1       4.720    TRU        None
2       4.720    TRU        @TU4
3      82.790    TRU        00S9
4       0.680    TRU       @0210
5       0.113    TRU        None
6      15.000    TRU       @02E8

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0    84000.00    BVH        @2ZJ
1       21.55    BVH        BFCF
2       21.55    BVH        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       46.29   TRIP        TRAD
1       46.29   TRIP        None
2         NaN   TRIP        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       37.81  LSXMA      LMCA/3
1       37.81  LSXMA        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       52.77   AMCX        AMCV
1       52.77   AMCX        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0   799.00000   AERO        @ROJ
1     1.46000   AERO        AGWI
2     1.99643   AERO       @02FZ

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        3.20     TM        @TLM
1      118.02     TM        TOYO
2       30.25     TM        @Y2W
3        2.18     TM        None
4        0.11     TM        KBT1

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       3.050     TM        @TLM
1     121.040     TM        TOYO
2      28.950     TM        @Y2W
3       2.140     TM        None
4       0.085     TM        KBT1

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0    1669.041   FIVE        @X2P
1     120.350   FIVE        FWIN

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       109.0    BDL        @BD9
1        25.0    BDL        FL0M
2       304.0    BDL       @020W

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0      65.550    CVS         MES
1       0.007    CVS        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       24.74  DISCA        DCHA
1       24.74  DISCA        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     1044.96  GOOGL        GOOG
1     1044.96  GOOGL        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
0       23.33   FARM        FARM
3        0.57   FARM       @FARM

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       34.12    HOG         HDI
1         NaN    HOG        @QLX

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0      0.5700    SIG        @93W
1      1.3900    SIG        None
2      1.3900    SIG        @DLH
3      2.7275    SIG        BBAV
4     31.7700    SIG        RATN
5      0.1250    SIG        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     115.030    MAR         MHS
1       0.200    MAR        @20L
2         NaN    MAR        @H5K
3       0.516    MAR        @4VT

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       87.76    TRU        @5DT
1        4.82    TRU        None
2        4.82    TRU        @TU4
3       64.57    TRU        00S9
4        2.03    TRU       @0210
5        0.19    TRU        None
6       13.75    TRU       @02E8

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0      105.48   DELL        None
1      105.48   DELL        None
2      105.48   DELL        DVMT

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       42.54   HSBC        HBC2
1         NaN   HSBC        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       18.90    CNO         CNC
1        0.04    CNO        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0         NaN    KKR        None
1       23.65    KKR        KPEQ

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     1090.58  GOOGL        GOOG
1     1090.58  GOOGL        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     1548.18   FIVE        @X2P
1      113.82   FIVE        FWIN

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       3.220     TM        @TLM
1     124.350     TM        TOYO
2      29.925     TM        @Y2W
3       2.100     TM        None
4       0.130     TM        KBT1

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       29.55   FFIN        FIFB
1     5900.00   FFIN        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       0.025    STL        @X1L
1         NaN    STL        @DXU
2    1200.000    STL        None
3      22.850    STL        PBCP
4      11.350    STL       @01E4

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
0        8.72    CMG        CMG2
1      475.18    CMG         CMG

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       36.99  CMCSA        CMCS
1       36.99  CMCSA        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       30.55    VAC        @4PV
1      119.00    VAC        MRWC
2        5.20    VAC        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       48.42   HSBC        HBC2
1         NaN   HSBC        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        22.0    CBZ        IASI
1         NaN    CBZ        @71V

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

  init_price ticker ibes_ticker
0       None     EB        02AC
1       None     EB        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
1     147.820    SNA         SNA
2       0.055    SNA        SNA1

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       31.18  CMCSA        CMCS
1       31.18  CMCSA        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     1.33368    EAT        @ZO6
1    43.73000    EAT        CHLI
2    10.45355    EAT        @Z4K
3     0.46500    EAT        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
0       58.75     RP         RPP
1        0.39     RP          RP

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       2.942    BBY        @BCC
1      76.530    BBY        BBUY

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       16.35    UAA        UARM
1       16.35    UAA        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       85.76    CFR        None
1       85.76    CFR        @RFC
2      106.07    CFR        CFBI

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     3.50000    DIN        @JD3
1    65.58000    DIN        IHOP
2     8.74999    DIN        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0         NaN    KKR        None
1       24.08    KKR        KPEQ

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     2400.00   SONA        @XSX
1       17.07   SONA        SOAN
2         NaN   SONA        0340

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       183.0    DPZ        DMPI
1       183.0    DPZ        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
0       62.66      H        HYAT
2       22.81      H        00WH

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

    init_price ticker ibes_ticker
0      4.37000    SVC        @VNX
1  37462.50009    SVC        @3UU
2     27.36000    SVC        HOSP

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       51.65    RMR        012B
1       51.65    RMR        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

    init_price ticker ibes_ticker
0      4.37000    SVC        @VNX
1  37462.50009    SVC        @3UU
2     27.36000    SVC        HOSP

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
0       59.51      H        HYAT
2       23.17      H        00WH

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
0     0.33966    ALK        @ALK
1    85.23000    ALK         ALK

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       21.16    WWE        WWFE
1       21.16    WWE        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
1       16.14    WPP        @WPP
2      105.41    WPP        WPPG

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0    254700.0  BRK.A        BKHT
1    254700.0  BRK.A        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
0       10.80    CMG        CMG2
1      474.47    CMG         CMG

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        1.41    WBA        @EBI
1       86.38    WBA         WAG

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        1.66   SIRI        @JTX
1        1.66   SIRI        None
2        4.45   SIRI        CDPD

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0    11.04000    AON        None
1     0.12103    AON        @KNA
2   114.10000    AON         PMA

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0      173.64   MSGS         MSG
1      173.64   MSGS        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        1.63   SIRI        @JTX
1        1.63   SIRI        None
2        4.57   SIRI        CDPD

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       50.18    NKE        NIKE
1       50.18    NKE        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       32.15   SSNC        SSCN
1       32.15   SSNC        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
1        7.90     BC        @BCB
4       47.87     BC          BC

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0      87.840    ADP         AUD
1       0.127    ADP        @VLU
2     107.050    ADP        @YJ9
3   22125.000    ADP        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
0       19.11      X           X
1       51.95      X         XG1

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0         NaN    SFM        None
1       29.04    SFM        SPFM

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       49.46    PKI         EGG
1       21.39    PKI        PKL1
2       21.39    PKI        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       17.70   MTRX        MTR1
1       24.05   MTRX        @P92
2        0.30   MTRX        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     0.58282    WEN        @VS0
1    10.23000    WEN         DWG

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        5.20   BCOR        None
1        8.63   BCOR        INS2

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
0       47.02      H        HYAT
3       22.29      H        00WH

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0   179.39815    PSO        @3PL
1    12.33000    PSO        PSRN

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       30.43  CMCSA        CMCS
1       30.43  CMCSA        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     0.02274     UI        None
1    35.16000     UI         UBN

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     1306.00   AERO        @ROJ
1        2.05   AERO        AGWI
2         NaN   AERO       @02FZ

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0      1248.0   AERO        @ROJ
1         2.6   AERO        AGWI
2         NaN   AERO       @02FZ

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
0       58.05      H        HYAT
3         NaN      H        00WH

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     3.80473    RCI        @RCR
1     3.80473    RCI        None
2     3.19000    RCI        @IJS
3     0.31500    RCI       @AAXT

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0   844.17688   ANTM        @PT6
1   146.45000   ANTM        ATHI

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0    11.13000    AAL        @QAA
1     0.15000    AAL        01K5
2    49.08000    AAL         AMR
3     1.60785    AAL       @AVIA

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       4.034     MS        @M2S
1      33.810     MS         DWD

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       49.75   HSBC        HBC2
1         NaN   HSBC        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0    49.90409    TRI        None
1    49.90409    TRI        TOC1
2    19.84000    TRI        @TGO
3     1.09000    TRI        @TNF
4     2.44000    TRI        @XEO
5         NaN    TRI        @NL0
6         NaN    TRI        None
7    39.60000    TRI        TOCC

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0    210000.0  BRK.A        BKHT
1    210000.0  BRK.A        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0         NaN    FNF        None
1       27.74    FNF        FNTN

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       91.42   TRIP        TRAD
1       91.42   TRIP        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       56.83   VIAC         VIA
1       56.83   VIAC        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       73.09    DPZ        DMPI
1       73.09    DPZ        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0      25.845  CMCSA        CMCS
1      25.845  CMCSA        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     6.18756    TGT        @4TL
1    63.27000    TGT          DH

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     1.19956    GHC        @5X3
1   663.32000    GHC         WPO
2   663.32000    GHC        None
3         NaN    GHC        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     4.15803    VOD        @RRK
1   121.82000    VOD        @5YR
2    67.99890    VOD         RTG

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0      24.935  CMCSA        CMCS
1      24.935  CMCSA        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       3.272    NWG        @RBO
1       3.272    NWG        None
2         NaN    NWG       @00ID
3         NaN    NWG       @015V
4      10.700    NWG         RBS

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     3.96003    VOD        @RRK
1   124.45000    VOD        @5YR
2    64.49720    VOD         RTG

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        5.40     TM        @TLM
1      120.66     TM        TOYO
2         NaN     TM        @Y2W
3         NaN     TM        None
4        0.80     TM        KBT1

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        5.49     TM        @TLM
1      117.55     TM        TOYO
2         NaN     TM        @Y2W
3         NaN     TM        None
4        1.20     TM        KBT1

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     20.0825  CMCSA        CMCS
1     20.0825  CMCSA        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        0.35    SFM        None
1         NaN    SFM        SPFM

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        1.95    ZEN        NEZ1
1         NaN    ZEN        0051
2      148.00    ZEN        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
0        8.86    NYT         NYT
2         NaN    NYT       @NYTM

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        37.7    DPZ        DMPI
1        37.7    DPZ        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        6.08     TM        @TLM
1       79.62     TM        TOYO
2         NaN     TM        @Y2W
3         NaN     TM        None
4        2.30     TM        KBT1

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     23.3375    NKE        NIKE
1     23.3375    NKE        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       12.35     EA        ERTS
1         NaN     EA       @ENAB

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       32.78   VIAC         VIA
1       32.78   VIAC        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0      14.455  CMCSA        CMCS
1      14.455  CMCSA        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0    20.56288    PHG        PGLO
1     0.18440    PHG        @U46

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       20.45     EA        ERTS
1         NaN     EA       @ENAB

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     0.71973    GHC        @5X3
1   402.30000    GHC         WPO
2   402.30000    GHC        None
3         NaN    GHC        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       52.68    ADP         AUD
1        0.57    ADP        @VLU
2       64.87    ADP        @YJ9
3         NaN    ADP        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0       32.18    FIS         CEY
1        0.58    FIS        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0     0.14436    ADS        @70C
1    44.45500    ADS        None
2    44.45500    ADS        @ADY
3    85.89000    ADS        ASD1
4     0.23000    ADS        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

  init_price ticker ibes_ticker
0       None   TRIP        TRAD
1       None   TRIP        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1
Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 2
Multiple matching IBES tickers found

   init_price ticker ibes_ticker
0     5.94133    PFG        @PFG
1    27.19000    PFG        PFGA

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        5.00   BCOR        None
1       11.05   BCOR        INS2

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        18.3    TNL        None
1        18.3    TNL        @TNX

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0    119800.0  BRK.A        BKHT
1    119800.0  BRK.A        None

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        18.2    TNL        None
1        18.2    TNL        @TNX

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 0
No matching IBES tickers found

   init_price ticker ibes_ticker
0        14.8    TNL        None
1        14.8    TNL        @TNX

Index(['init_price', 'ticker', 'ibes_ticker'], dtype='object')
Number of matching IBES tickers: 1

TypeError: unsupported operand type(s) for *: 'int' and 'datetime.datetime'